dt, dfn {
    font-weight: bold;
    font-style: normal;
}

dl.switch { padding-left: 2em; }
dl.switch > dt { text-indent: -1.5em; }
dl.switch > dt > * { text-indent: 0; }
dl.switch > dt:before { content: '\21AA'; padding: 0 0.5em 0 0; display: inline-block; width: 1em; text-align: right; line-height: 0.5em; }

blockquote p {
    font-size: 100%;
}

dl.switch {
    margin-top: -10px;
}

div.image {
    margin-top: 60px;
    text-align: center;
}

img {
    width: 80%;
}
